# Ignore directories created for each docker service
gitlab/
grafana/
jenkins/
mariadb/
minecraft/
mosquitto/
nginx/
postgres/
prometheus/
web-application/
SQL-Database/

#Ignore Docker compose file
composefile/*.yaml
composefile/*.yml

#Ignore file that is need to be create by the user
save/