# Ignore everything inside the "save" directory
save/*
# Except the "example" directory
!save/example/
!save/readme.md

# Ignore everything inside the "save" directory
services/
# Except the "example" directory
!services/example/
!services/readme.md

# Ignore everything inside the "services_generator" directory
services_generator/

# Keep the .gitkeep itself
!/*.gitkeep

restore.sh