# Ignore directories created for each docker service
gitlab/
grafana/
jenkins/
mariadb/
minecraft/
mosquitto/
nginx/
postgres/
prometheus/
web-application/
SQL-Database/

#Ignore Docker compose file
composefile/*.yaml
composefile/*.yml

#Ignore directory that is need to be used some container
save/

#Ignore directory used for security data
datakeeper/*.env